.lampOn {
    padding-left: 5px;
    font-size: 50px;
    color: #ffd324;
}

.lampOff {
    padding-left: 5px;
    font-size: 50px;
    color: #ffffff;
}

.socketOn {
    padding-left: 5px;
    font-size: 50px;
    color: #ba0000;
}

.socketOff {
    padding-left: 5px;
    font-size: 50px;
    color: #ffffff;
}

.tvOn {
    padding-left: 5px;
    font-size: 50px;
    color: #005aad;
}

.tvOff {
    padding-left: 5px;
    font-size: 50px;
    color: #ffffff;
}

.motionOn {
    padding-left: 5px;
    font-size: 50px;
    color: #a10000;
}

.motionOff {
    padding-left: 5px;
    font-size: 50px;
    color: #ffffff;
}

.speakerOn {
    padding-left: 5px;
    font-size: 50px;
    color: #005aad;
}

.speakerOff {
    padding-left: 5px;
    font-size: 50px;
    color: #ffffff;
}

.no_background {
    background-color: transparent;
}