<html stye>
<head>
    <meta charset="UTF-8" />
    <title>BDCP - Desktop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/desktop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widget_icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
</head>
<body>
    <div class="container">
        <div id="switchRow" class="row">
        </div>
        <div id="sensorRow" class="row" style="margin-top: 50px">
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/desktop.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widget-icon.js') }}"></script>
    <!-- LIGHT -->
    <script id="lightTemplate" type="text/template">
        <div class="col-lg-4">
            <div class="card card_react" id="tempIdx">
                <ul class="list-inline">
                    <i id="tempIconIdx" aria-hidden="true"></i>
                    <li class="name">tempName</li>
                </ul>
                <div class="status">
                    <h3>tempStatus</h3>
                </div>
                <div class="date">
                    <p>tempDate</p>
                </div>
            </div>
        </div>
    </script>
    <!-- DIMMER -->
    <script id="dimmerTemplate" type="text/template">
        <div class="col-lg-4">
            <div class="card card_react_noclick" id="tempIdx" onclick="">
                <p style="display: none;"></p>
                <ul class="list-inline">
                    <i id="tempIconIdx" aria-hidden="true"></i>
                    <li class="name">tempName</li>
                </ul>
                <div class="status">
                    <h3>tempStatus</h3>
                </div>
                <div class="slider">
                    <div class="range-slider">
                        <input id="tempSliderIdx" class="range-slider__range" type="range" value="50" min="0" max="100">
                    </div>
                </div>
                <div class="date">
                    <p>tempDate</p>
                </div>
            </div>
        </div>
    </script>
    <!-- BLINDS -->
    <script id="blindTemplate" type="text/template">
        <div class="col-lg-4">
            <div class="card card_react_noclick" id="tempIdx">
                <ul class="list-inline">
                    <i id="tempIconIdx" style="color: white;" aria-hidden="true"></i>
                    <li class="name">tempName</li>
                </ul>
                <div class="status">
                    <h3>tempStatus</h3>
                </div>
                <div class="buttons">
                    <button id="tempDownIdx" class="btn no_background" type="submit"><i class="fa fa-angle-double-down fa-2x" style="color: white" aria-hidden="true"></i></button>
                    <button id="tempStopIdx" class="btn no_background" type="submit"><i class="fa fa-stop fa-2x" style="color: white" aria-hidden="true"></i></button>
                    <button id="tempUpIdx" class="btn no_background" type="submit"><i class="fa fa-angle-double-up fa-2x" style="color: white" aria-hidden="true"></i></button>
                </div>
                <div class="date">
                    <p>tempDate</p>
                </div>
            </div>
        </div>
    </script>
    <!-- TEMPERATURE -->
    <script id="temperatureTemplate" type="text/template">
        <div class="col-lg-4">
            <div class="card card_react_noclick" id="tempIdx">
                <ul class="list-inline">
                    <i id="tempIconIdx" style="color: white;" aria-hidden="true"></i>
                    <li class="name">tempName</li>
                </ul>
                <div class="status">
                    <h3>tempStatus</h3>
                </div>
                <div class="date">
                    <p>tempDate</p>
                </div>
            </div>
        </div>
    </script>

</body>
</html>