<html>
    <head>
        <meta charset="UTF-8" />
        <title>BDCP - Settings</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.gridstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <div class="container">
            <div> </div>
        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.gridstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    </body>
</html>